.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  width: 50%;
  height: 440px;
  padding: 25px 35px;
  color: rgb(90, 90, 90);
  overflow-y: scroll;
}

.flex-item a,
.flex-item a:hover {
  color: #000;
  font-style: italic;
}

.flex-item a:visited {
  color: rgb(0, 38, 255);
}

#top-left {
  transition: all ease-in 0.2s;
  background-color: #fda649;
}

#top-left:hover {
  background-color: #e29440;
}

#top-right {
  transition: all ease-in 0.2s;
  background-color: #f4e683;
}

#top-right:hover {
  background-color: #d3c872;
}

#bottom-left {
  transition: all ease-in 0.2s;
  background-color: #4db3e4;
  color: white;
}

#bottom-left:hover {
  background-color: #439bc4;
}

#bottom-right {
  transition: all ease-in 0.2s;
  background-color: #b83c70;
  color: white;
}

#bottom-right:hover,
:checked {
  background-color: #8a2c53;
}

@media screen and (max-width: 992px) {
  .flex-item {
    transition: ease-in 0.3s;
    width: 100%;
  }
}
